*.lnk
*.log
solutions/*
user*/*
logbackups/*
Editor/*
Assets/Levels/example.level.cryasset
Assets/Levels/example/example.level
Assets/Levels/example.level.cryasset
Assets/Levels/example/example.level.bak
Assets/Levels/example/example.level.bak2
